body{
    background-image:linear-gradient(gray, grey);
    text-align: center;
    margin:auto;
    font-family: 'Assistant', sans-serif; 
}
header{
    display: flex;
    flex-flow: wrap column;
    /* top: 0px; */
    /* position: sticky;   */
}
h1,h2{
    margin: 0px;
}
section img{
    border-radius: 50%;
    width: 400px;
    height: 450px;
    box-shadow: 20px 10px 11px 6px; 
}
nav ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}
article{
    display: flex; 
    flex-flow: column;
    line-height: 30px;
}
.main{
    display: flex;
    flex-flow:column; 
    align-items: flex-end;
    width: 100%;
    padding: 0px;
    list-style: none;
}
h4{
    background: black;
    opacity: 0.8;
    color: white;
    width: 100%;
    text-align: right;
}












/* footer{
    height: 7%;
    bottom: 0px;
    width: 100%;
    background-image:linear-gradient(green, yellow, red);
    border: 1px solid red; 
    position: fixed;
} */